[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
psycopg2 = "*"
flask-wtf = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
postgres = "*"
flask-api = "*"
gunicorn = "*"
pip = "==18.0"
datadog = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.7"
